extends layout 

block content
    // Header - set the background image for the header in the line below
    header.py-5.bg-image-full(style="background-image: url('https://i.imgur.com/YcuVy3G.jpg');")
      img.img-fluid.d-block.mx-auto(src='https://mahara.infotech.monash.edu.au/mahara/artefact/file/download.php?file=267001&view=49998&embedded=1&text=221392', alt='' width="200" height="200")
    // Content section
    section.py-5
      .container
        h1 Indonesian Intelligence
        p.lead We are here to help you learn more about Indonesia!

        p
          | Jump on our fun activities and learn.
    // Image element - set the background image for the header in the line below
    .py-5.bg-image-full(style="background-image: url('https://i.imgur.com/d5z3WWw.jpg');")
      // Put anything you want here! There is just a spacer below for demo purposes!
      div(style='height: 200px;')
    // Content section
    section.py-5
      .container
        h1 Indonesian Names
        p.lead Guess the gender!
        p
          | You might find these names unique.
          |  Do you think this person is a boy or a girl?
    
      // /.container
