doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Weather App
  link(rel='stylesheet' href='css/weather.css')
  script(src='js/weather.js' defer='')
form#form
  input#search(type='text' placeholder='Search by location' autocomplete='off')
main#main